{{#if list}}
        <h2> Materiais: </h2>
        <table class="mt-3 table table-hover table-secondary">
            <thead>
                <tr>
                    <th scope="col"> # </th>
                    <th scope="col"> Nome do material </th>
                    <th scope="col"> Valor de compra </th>
                    <th scope="col"> Data de compra </th>
                    <th scope="col"> Está disponível para uso </th>
                    <th scope="col"> Deixar disponível ou indisponível para uso </th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {{#each list}}
                    <tr>
                        <th scope="row"></th>
                        <td> {{name}} </td>
                        <td class="costList"> {{cost}} </td>
                        <td class="buyDateList"> {{buyDate}} </td>
                        {{#if stillUse}}
                            <td> Sim </td>
                            <td><a class="btn btn-danger" href="/material/edit/{{_id}}/{{../nextButton}}"> Deixar indisponível </a></td>
                            {{else}}
                                <td> Não </td>
                                <td><a class="btn btn-primary" href="/material/edit/{{_id}}/{{../nextButton}}"> Deixar disponível </a></td>
                        {{/if}}
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <div class="row">
            <div class="col">
                <a href="/material/listing/{{previousButton}}" class="btn btn-warning"> Anterior </a>
            </div>
            <div class="col-6"></div>
            <div class="col">
                <a href="/material/listing/{{nextButton}}" class="btn btn-primary"> Próximo </a>
            </div>
        </div>
        {{else}}
            <div class="row">
                <div class="col">
                    <a href="/material/listing/{{previousButton}}" class="btn btn-warning"> Anterior </a>
                </div>
            </div>
            <h2 class="mt-3"> Não há mais histórico de materiais por aqui... </h2>
    {{/if}}

<script>
    const costList = document.getElementsByClassName(`costList`);
    
    for (let updateValue of costList) {
        if (updateValue.textContent < 0) {
            updateValue.style.color = `red`;
        } else if (updateValue.textContent == 0) {
            updateValue.style.color = `gray`;
        } else {
            updateValue.style.color = `green`;
        }
    }

    const buyDateList = document.getElementsByClassName(`buyDateList`);

    for (let updateDate of buyDateList) {
        let date = new Date(Date.parse(updateDate.textContent));
        const locale = new Intl.Locale('pt-BR');
        const dateFormatter = new Intl.DateTimeFormat(locale, {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit'
        });
        date = dateFormatter.format(date);
        updateDate.textContent = date;
    }
</script>